.btn {
  font-size: 0.9375rem;

  border-radius: 0.75rem;
  border: 2px solid var(--color-black);
  box-shadow: 3px 3px 0px 0px rgba(46, 47, 53, 1);

  transition: all 0.3s ease-in-out;

  &--primary {
    background: var(--color-white);
    color: var(--color-black);
  }

  &--secondary {
    background: var(--color-orange);
    color: var(--color-white);
  }

  @media (hover: hover) {
    &:hover {
      box-shadow: 0px 0px 0px 0px rgba(46, 47, 53, 1);

      transform: translate(3px, 3px);
    }
  }
}
