.profits {
  background-color: var(--color-light-violet);

  font-family: Inter, sans-serif;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
  }

  &__image {
    width: 50%;
  }

  &__title {
    margin-bottom: 2.25rem;
  }

  &__description {
    color: var(--color-gray);
    font-size: 1.25rem;

    margin-bottom: 3rem;
  }

  &__statistics {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &__statistic {
    &--value {
      font-size: 2.125rem;
      font-weight: 700;
    }
  }

  &__button {
    margin-top: 3rem;
    padding: 1.375rem 2.625rem;

    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 700;
  }

  @media (max-width: $bp-laptop) {
    &__wrapper {
      flex-direction: column;
    }

    &__image {
      width: 75%;
    }
  }

  @media (max-width: $bp-mobile-xl) {
    &__statistics {
      grid-template-columns: repeat(1, 1fr);
      gap: 1.5rem;
    }

    &__title {
      margin-bottom: 1rem;
    }

    &__description {
      margin-bottom: 1rem;
      font-size: 0.8125rem;
    }

    &__statistic {
      &--value {
        font-size: 1.5rem;
      }
    }

    &__button {
      margin-top: 1rem;

      width: 100%;
    }
  }
}
